<footer class="footer">
<div class="container muted">

<div class="col-lg-4">
<bold>Redaktionen</bold><br/>
<a href="mailto:redaktionen@tt.se" class="icon-mail">redaktionen@tt.se</a><br/>
Tel: &nbsp;08-692 27 00&nbsp; SMS 073-012 3789</a><br/>
</div>

<div class="col-lg-4">
<bold>Kundsupport</bold><br/>
<a href="mailto:sales@tt.se" class="icon-mail">kundsupport@tt.se</a><br/>
Tel:&nbsp;08-692 26 15<br/>
</div>


<div class="col-lg-4">
<a href="https://tt.se"><bold>© 2017 TT Nyhetsbyrån AB.</bold></a><br/>
<span>Ansvarig utgivare: Jonas Eriksson.</span><br/>
<span>TT NYHETSBYRÅN en del av <a href="http://tt-gruppen.com">TT-Gruppen</a></span>
</div>

</div>
</footer>


